.copyright_footer{
    text-align: right;
}
.copyright_footer p{
    margin-bottom: 0;
    font-size: 15px;
    color: #5e707d;
    line-height: 30px;
    display: inline-flex;
}
.copyright_footer p a{
    color: #5e707d;
}