/*---- social media style -------*/
.single_post_footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 30px;
    overflow: hidden;
    padding-top: 30px;
}
.post_shearing {
    display: inline-block;
    float: left;
}
.single_post_footer .post_shearing > ul {
    margin: 0;
    padding: 0;
}
.single_post_footer .post_shearing ul li, .single_post_footer .post_tags ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 0;
}
.single_post_footer .post_shearing ul li a {
    color: #999;
    transition: .3s;
}
.single_post_footer .post_shearing ul li a:hover{
    color: #222;
}
.post_tags {
    display: inline-block;
    float: right;
}
.single_post_footer .post_tags ul li {
    margin-left: 20px;
    margin-right: 0;
}
.post_tags a {
    color: #999;
    text-decoration: none;
}
.post_tags a:hover{
    color: #1da255;
}
/*------ form style -------*/
.comment_form form {
    background: #ffffff none repeat scroll 0 0;
    overflow: hidden;
    padding-top: 30px;
}
.sub_section_title {
    border-bottom: 1px solid #e5e5e5;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 25px;
    padding-bottom: 15px;
}
.clear_fix textarea {
    border: 1px solid #e5e5e5;
    height: 150px;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 15px;
    width: 100%;
}
.input_field_wrapper {
    margin: 0 -10px;
}
.input_field {
    float: left;
    padding: 0 10px;
    width: 33.3333%;
}
.comment_form input {
    border: 1px solid #e5e5e5;
    height: auto;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 100%;
}
.button_black {
    background: #222 none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    height: 45px;
    letter-spacing: 2px;
    line-height: 46px;
    padding: 0 30px;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}
.button_black:hover {
    background: #1da255;
}