.service_2{
    padding: 60px 0 90px;
}
.heading_title{
    padding-bottom: 40px;
}
.box {
    display: flex;
    width: 15%;
    height: 8px;
    margin: 0 auto;
}
.box_sm {
    height: 8px;
    margin: 0;
    flex-grow: 1;
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}
.red {
    background-color: #ff5852;
  }
  .orange {
    background-color: #ff9000;
  }
  .yellow {
    background-color: #ffd300;
  }
  .green {
    background-color: #3dcd49;
  }
  .blue {
    background-color: #0089d7;
  }
  .purple {
    background-color: #9e44c4;
  }
  .box_sm:hover {
    flex-grow: 12;
}

/*--- service item style ----*/
.service_grid {
  display: grid;
  height: 580px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.service_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: top left;
  transition: 0.5s;
  position: relative;
  text-align: center;
}
.service_item:hover {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,1);
}
.service_item h3{
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
}
.service_item .service_details {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.service_item ul{
  transform: scale(0);
  transition: 0.5s;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.service_item:hover ul{
  transform: scale(1);
}
.service_item img{
  transition: all .5s;
}
.service_item:hover img{
   transform: scale(0);
}
.service_item ul li{
  color: #fff;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
}
.service_content {
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  position: absolute;
  top: calc(50% + 95px);
  transform: translateY(-50%);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.service_item:hover .service_content{
  top: calc(40%);
}
/*----- service icon -----*/
.service_sub_title li svg{
  width: 15px;
}
.service_item .btn_service {
  transform: scale(0);
  transition: 0.5s;
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  letter-spacing: 1px;
  height: 44px;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
  border: 2px solid #fff;
  text-align: center;
  font-weight: 400;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 9;
}
.service_item .btn_service:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 300px;
    height: 300px;
    line-height: 20em;
    left: 50%;
    margin-left: -150px;
    text-align: center;
    -webkit-transition: -webkit-box-shadow 0.5s ease-out;
    transition: -webkit-box-shadow 0.5s ease-out;
    -o-transition: box-shadow 0.5s ease-out;
    transition: box-shadow 0.5s ease-out;
    transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
    z-index: -1;
}
.service_item .btn_service:hover {
    border: 2px solid transparent;
    color: #000;
}
.service_item .btn_service:hover:before {
    -webkit-box-shadow: inset 0 0 0 10em #fff;
    box-shadow: inset 0 0 0 10em #fff;
}
.service_item:hover .btn_service{
  transform: scale(1);
}
.service_item .service_details {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
/*---- service background list ---------*/
.software {
  background: #3dcd49;
}
.web_design{
  background: url(../../Media/mobile-bg.jpg) no-repeat;
  background-size: cover;
  grid-row: span 2;
}
.web_development{
  background: url(../../Media/marketing-bg-1.jpg) no-repeat;
  background-size: cover;
}
.graphic{
  background: #ff5852;
}
.seo{
  background: #4eccff;
}
/*------ domain -------*/
.domain{
  background: #06ccbc;
}
.domain:hover img {
 transform: scale(1);
}
.service_item.domain .service_content {
  top: calc(50% + 0px);
}
/*------ support -------*/
.support{
  background: url(../../Media/emerging-bg-1.jpg) no-repeat;
  background-size: cover;
}
.support:hover img {
  transform: scale(1);
 }
 .service_item.support .service_content {
   top: calc(50% + 0px);
 }

 /*------ service responsive -----*/
@media only screen and (min-width: 768px) and (max-width: 991px){
  .service_grid {
    height: 1070px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 767px){
  .service_grid {
    height: 2070px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(1, 1fr);
}
}