.service {
    min-height: 500px;
    padding: 80px 0;
    position: relative;
}

.title h3 {
    color: #6f7a82;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 5px;
}

.title p {
    font-size: 18px;
    line-height: 26px;
    color: #6f7a82;
    font-family: 'Ubuntu', sans-serif;
}

.title h4 {
    font-size: 22px;
    font-weight: 400;
    color: #5e707d;
}

.list_s2 {
    margin: 0;
    padding: 0;
}

.list_s2 li {
    list-style: none;
    transition: all 0.5s ease 0s;
}

.list_s2 li a {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #5e707d;
}

.list_s2 li a span {
    font-size: 16px;
    color: #5e707d;
    padding: 4px 0;
    position: relative;
    padding-left: 20px;
    display: inline-block;
}

.list_s2 li a span:before {
    position: absolute;
    left: 0;
    top: 13px;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #1da255;
    background: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.list_s2 li:hover {
    margin-left: 5px;
}

.list_s2 li a span:hover {
    color: #1da255;
}

.list_s2 li a span:hover:before {
    background: #1da255;
}

/*------ background image ------*/
.service_1 {
    background: url(../../Media/service-1.jpg) no-repeat right top;
    background-position: 5% top;
    background-size: cover;
}

.service_2 {
    background: url(../../Media/service-2.jpg) no-repeat right top;
    background-position: 5% top;
    background-size: cover;
}

.service_3 {
    background: url(../../Media/service-3.jpg) no-repeat right top;
    background-position: 5% top;
    background-size: cover;
}

.service_4 {
    background: url(../../Media/service-4.jpg) no-repeat right top;
    background-position: 5% top;
    background-size: cover;
}

.service_5 {
    background: url(../../Media/service-5.jpg) no-repeat right top;
    background-position: 5% top;
    background-size: cover;
}

.service_6 {
    background: url(../../Media/service-6.jpg) no-repeat right top;
    background-position: 5% top;
    background-size: cover;
}


/*------- Mobile Responsive ---------*/
@media only screen and (max-width: 767px) {
    .title h2 {
        font-size: 35px;
    }
}