.navWrapper{
    background: #fff;
    box-shadow: 0px 0px 9px 0px rgba(180, 180, 180, 0.75); 
    width: 100%;
    transition: all .5s ease-in;
    z-index: 99;
}
.stickyNav{
    position: fixed;
    top: 0;
    transition: top .5s ease-in;
}
.logo{
    padding: 15px 0 8px;
}
.navWrapper nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menuWrapper{
    display: flex;
}
.menuWrapper .list{
  display: flex;
}
.menuWrapper .list li{
    margin: 0 5px;
    padding: 18px 0;
    line-height: 16px;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.menuWrapper .list li a{
    border-radius: 3px;
    color: #000000;
    text-transform: uppercase;
    padding: 11px 20px;
    font-size: 15px;
    transition: color .3s ease-in-out;
    font-family: 'Nunito Sans', sans-serif;
}
.menuWrapper ul li a:hover{
    color: #1da255;
}
.active{
    background: #1da255;
    color: #fff !important;
}
.noneActive{
   color: #000;
}
.searchBtn {
    display: flex;
    align-items: center;
}
.searchBtn svg{
    height: 22px;
    width: 22px;
}
.searchBtn svg path{
    fill: #1da255;
}
.dropdown{
    position: relative;
}
.dlSubmenu{
    position: absolute;
    width: 250px;
    top: 62px;
    padding: 0;
    -webkit-transition: all 750ms linear;
    -moz-transition: all 750ms linear;
    -o-transition: all 750ms linear;
    -ms-transition: all 750ms linear;
    transition: all 750ms linear;
    z-index: 99;
    filter: alpha(opacity=0);
}
.dropdown > .dlSubmenu::before{
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 8px 8px;
    content: "";
    left: 15px;
    position: absolute;
    top: -7px;
    border-bottom-color: #1da255;
    transition: all 750ms linear
}
.dropdown .dlSubmenu li{
    padding: 16px 15px 15px;
    position: relative;
    border-bottom: 1px solid rgba(206, 206, 206, 0.5);
    width: 100%;
}
.dropdown .dlSubmenu li a{
    color: #fff;
    font-size: 13px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
}
.dropdown .dlSubmenu li a:hover{
    color: #fff;
}
#secondary{
    left: 235px;
    top: 0;
}

.dlSubmenu{
    visibility: hidden;
} 
.dropdown:hover > .dlSubmenu{
    visibility: visible;
}
.firsDrop:hover .dlSubmenu{
    visibility: visible;
}
.secondDrop:hover .dlSubmenu{
    visibility: visible;
}
.thirtDrop:hover .dlSubmenu{
    visibility: visible;
}
.fourDrop:hover .dlSubmenu{
    visibility: visible;
}
.fifthDrop:hover .dlSubmenu{
    visibility: visible;
}

.menuIcon{
    width: 40px;
    height: 40px;
    display: none;
}

/******** New Animated Menu *******/
.dropdown li{
    background: #1da255;
    transform: rotateY(90deg);
    transition: all .3s ease-in;
    opacity: 0;
}
.dropdown:hover li{
    transform: rotateY(0deg);
    opacity: 1;
}
.dlSubmenu li:nth-child(1) { -webkit-transition-delay: 350ms; -moz-transition-delay: 350ms; -ms-transition-delay: 350ms; -o-transition-delay: 350ms; transition-delay: 350ms; }
.dlSubmenu li:nth-child(2) { -webkit-transition-delay: 300ms; -moz-transition-delay: 300ms; -ms-transition-delay: 300ms; -o-transition-delay: 300ms; transition-delay: 300ms; }
.dlSubmenu li:nth-child(3) { -webkit-transition-delay: 250ms; -moz-transition-delay: 250ms; -ms-transition-delay: 250ms; -o-transition-delay: 250ms; transition-delay: 250ms; }
.dlSubmenu li:nth-child(4) { -webkit-transition-delay: 200ms; -moz-transition-delay: 200ms; -ms-transition-delay: 200ms; -o-transition-delay: 200ms; transition-delay: 200ms; }
.dlSubmenu li:nth-child(5) { -webkit-transition-delay: 150ms; -moz-transition-delay: 150ms; -ms-transition-delay: 150ms; -o-transition-delay: 150ms; transition-delay: 150ms; }
.dlSubmenu li:nth-child(6) { -webkit-transition-delay: 100ms; -moz-transition-delay: 100ms; -ms-transition-delay: 100ms; -o-transition-delay: 100ms; transition-delay: 100ms; }
.dlSubmenu li:nth-child(7) { -webkit-transition-delay: 50ms; -moz-transition-delay: 50ms; -ms-transition-delay: 50ms; -o-transition-delay: 50ms; transition-delay: 50ms; }
.dlSubmenu li:nth-child(8) { -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -ms-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s; }

.menuWrapper ul li:hover ul.dlSubmenu li:nth-child(1) { -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -ms-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s; }
.menuWrapper ul li:hover ul.dlSubmenu li:nth-child(2) { -webkit-transition-delay: 50ms; -moz-transition-delay: 50ms; -ms-transition-delay: 50ms; -o-transition-delay: 50ms; transition-delay: 50ms; }
.menuWrapper ul li:hover ul.dlSubmenu li:nth-child(3) { -webkit-transition-delay: 100ms; -moz-transition-delay: 100ms; -ms-transition-delay: 100ms; -o-transition-delay: 100ms; transition-delay: 100ms; }
.menuWrapper ul li:hover ul.dlSubmenu li:nth-child(4) { -webkit-transition-delay: 150ms; -moz-transition-delay: 150ms; -ms-transition-delay: 150ms; -o-transition-delay: 150ms; transition-delay: 150ms; }
.menuWrapper ul li:hover ul.dlSubmenu li:nth-child(5) { -webkit-transition-delay: 200ms; -moz-transition-delay: 200ms; -ms-transition-delay: 200ms; -o-transition-delay: 200ms; transition-delay: 200ms; }
.menuWrapper ul li:hover ul.dlSubmenu li:nth-child(6) { -webkit-transition-delay: 250ms; -moz-transition-delay: 250ms; -ms-transition-delay: 250ms; -o-transition-delay: 250ms; transition-delay: 250ms; }
.menuWrapper ul li:hover ul.dlSubmenu li:nth-child(7) { -webkit-transition-delay: 300ms; -moz-transition-delay: 300ms; -ms-transition-delay: 300ms; -o-transition-delay: 300ms; transition-delay: 300ms; }
.menuWrapper ul li:hover ul.dlSubmenu li:nth-child(8) { -webkit-transition-delay: 350ms; -moz-transition-delay: 350ms; -ms-transition-delay: 350ms; -o-transition-delay: 350ms; transition-delay: 350ms; }
/******** New Animated Menu *******/


/*------------- Mobile responsive ---------------*/
@media only screen and (min-width: 1000px) and (max-width: 1170px){
    .menuWrapper .list li a{
        padding: 8px 12px 8px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
     .logo a img{
        object-fit: contain;
        width: 100%;
     }
    .menuWrapper .list li a {
        padding: 9px 6px 9px;
        font-size: 12px;
    }
    .logo{
        width: 25%;
    }
    .menuWrapper .list{
        padding: 0;
    }
}
@media only screen and (min-width:960px) and (max-width:1240px){
    .container{
        max-width: 900px !important;
    }
}
/* =========== Mobile Responsive Navbar ====================*/
@media only screen and (max-width: 767px){
    .menuIcon{
        display: block;
    }
    .menuWrapper{
        position: absolute;
        background: #1da255;
        top: 145px;
        width: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        z-index: 99;
        transition: opacity .1s ease-in, visibility 0s ease-in .2s;
        animation: keyUp 1s ease-in-out;
     }
    .menuWrapper .list{
       flex-direction: column;
       padding: 0 !important;
    }
    .menuWrapper .list li{
        margin: 0;
    }
    .menuWrapper .list li a{
        color: #fff;
    }
    .menuWrapper .list li a:hover{
        color: #fff;
    }
    .active{
        background: none;
    }
    .searchBtn{
        padding: 0 20px;
    }
    .searchBtn svg path{
        fill: #fff;
    }
    .dlSubmenu{
        display: none;
    }
    
    @keyframes keyUp {
        0%{
          top: 200px; 
        }
        100%{
            top: 138px; 
        }
    }
    .showMenu{
        visibility: visible;
        opacity: 1;
        transition: opacity .1s ease-in;
    }
}

