.clients_section {
    padding-top: 100px;
    padding-bottom: 20px;
}
.heading_title h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 40px;
    line-height: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
